/*@font-face{
    font-family:"Roboto";
    src:local("Roboto"),
        url("./fonts/Roboto-Regular.ttf");
}*/

@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
font-family:"Almendra";
}

body{
    display:flex;
    flex-direction:column;
    padding:0px;
    margin:0px;
}

.header{
    display:flex;
    background-color:rgb(33, 66, 18);
    color:#F9FAF8;
    padding: 16px 112px 0px 112px;
    justify-content:space-between;
}

ul{
    display:flex;
    list-style-type:none;
    margin:0px;
    padding:0px;
    gap: 10px;
}

a{
    text-decoration:none;
    color: #dae7dd;
    font-size:18px;
}

.contentTop{
    background-color:rgb(33, 66, 18);
    display:flex;
    color:white;
    padding:84px 112px 84px 112px;
    /*border:solid black;*/
    gap:40px;
    align-items:center;
    flex-wrap:wrap;
    
}

.logo{
    font-size:24px;
    font-weight:600;
}

.right{
    flex:1;
    align-items:center;
    display:flex;  
    min-width:200px;
}

.dragonPicture{
    height:50%;
    background-color:rgb(100, 190, 40);
    flex:1;
    display:flex;
    
}

.left{
    flex: 1;
    }

#heroHeader{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
    padding:0px;
    margin:0px;

}

.heroText{
    font-size:18px;
    color:#dae7dd;
}

button{
    background-color:rgb(121, 201, 30);
    border:none;
    font-size:18px;
    padding:9px 36px;
    border-radius:15px;
    color:white;
}

.info{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#dde9ad;
    padding:0px 112px;

}

.facts{
    display:flex;
    align-content:space-evenly;
    gap:30px;
    flex-wrap:wrap;
}

.pic{
    border:solid rgb(121, 201, 30);
    border-radius:10px;
    height:130px;
    width:130px;
    display:flex;
}

.caption{
    width:130px;
}

.infoHeader{
    font-size:36px;
    font-weight:bolder;
}

.quoteSection{
        background-color:#a59b44;
        align-items:center;
        justify-content:center;
        padding:74px 20vw;
        display:flex;
        flex-direction:column;

    }

.quote{
        font-size:30px;
        font-style:italic;
        font-weight:lighter;
    }

.salutation{
        font-size:24px;
        font-weight:bold;
        font-style:italic;
        align-self:flex-end;
    }

.callSection{
    display:flex;
    padding:70px 112px;
    background-color:#dde9ad;
}

 .callBanner{
        display:flex;
        padding:20px 90px;
        justify-content:space-between;
        align-items:center;
        background-color: rgb(121, 201, 30);
        flex:1;
        border-radius:10px;
    }

.callText h3{
    font-size:24px;
    font-weight:600px;
    color:white;
}

.callText p{
    color:#eef5f0;
}

.callBanner button{
    border:solid white;
}

.footer{
    display:flex;
    align-content:center;
    justify-content:center;
    padding:20px;
    background-color:rgb(33, 66, 18);;
}

.footer div{
    color:#dae7dd;
}

img{
    flex:1
}