@font-face{
    font-family:"Roboto";
    src:local("Roboto"),
        url("./fonts/Roboto-Regular.ttf");
}

*{
font-family:"Roboto";
}

body{
    display:flex;
    flex-direction:column;
}

.header{
    display:flex;
    background-color:rgb(43, 90, 21);
    color:white;
    padding: 16px 112px 0px 112px;
    justify-content:space-between;
}

ul{
    display:flex;
    list-style-type:none;
    margin:0px;
    padding:0px;
    gap: 10px;
}

a{
    text-decoration:none;
    color: #e5e7eb;
}

.contentTop{
    background-color:rgb(43, 90, 21);
    display:flex;
    color:white;
    padding:84px 0px 84px 112px;
    /*border:solid black;*/
    gap:20px;
    justify-content:center;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:600;
}

.right{
    flex:1;
    align-items:center;
    display:flex;
}

.dragonPicture{
    width:450px;
    height:180px;
    background-color:rgb(100, 190, 40);
    flex:1;
    margin-right:112px;
}

.left{
    flex: 1;
}